{% extends 'base.html' %}

{% block content %}
		<div class="page-header">
		
		</div>

      <!-- Example row of columns -->
      <div class="row">
        
	
        <div class="span10">
			<i class="icon-arrow-left"></i> <a href="">Go back to Home Page </a>
          <h3> Search Results For : Intro to computer Science</h3>
			<table class="table table-striped table-condensed table-bordered">
				<thead>
					<tr>
					  <th>Course Name</th>
					  <th>Total Reviews </th>
					</tr>
				</thead>
				  <tbody>
					<tr>
					  <td><a href="">Intro to Computer Science</a> by <small>Sana Odeh</small></td>
					  <td><a href="">***** <br> 145 Reviews</a></td>
					</tr>
					
					<tr>
					  <td><a href="">Intro to Computer Science</a> by <small>Sana Odeh</small></td>
					  <td><a href="">***** <br> 145 Reviews</a></td>
					</tr>
					<tr>
					  <td><a href="">Intro to Computer Science</a> by <small>Sana Odeh</small></td>
					  <td><a href="">***** <br> 145 Reviews</a></td>
					</tr>
					
					<tr>
					  <td><a href="">Intro to Computer Science</a> by <small>Sana Odeh</small></td>
					  <td><a href="">***** <br> 145 Reviews</a></td>
					</tr>
					<tr>
					  <td><a href="">Intro to Computer Science</a> by <small>Sana Odeh</small></td>
					  <td><a href="">***** <br> 145 Reviews</a></td>
					</tr>
					
					<tr>
					  <td><a href="">Intro to Computer Science</a> by <small>Sana Odeh</small></td>
					  <td><a href="">***** <br> 145 Reviews</a></td>
					</tr>
					<tr>
					  <td><a href="">Intro to Computer Science</a> by <small>Sana Odeh</small></td>
					  <td><a href="">***** <br> 145 Reviews</a></td>
					</tr>
					
					<tr>
					  <td><a href="">Intro to Computer Science</a> by <small>Sana Odeh</small></td>
					  <td><a href="">***** <br> 145 Reviews</a></td>
					</tr>
					
					<tr>
					  <td><a href="">Intro to Computer Science</a> by <small>Sana Odeh</small></td>
					  <td><a href="">***** <br> 145 Reviews</a></td>
					</tr>
					
					<tr>
					  <td><a href="">Intro to Computer Science</a> by <small>Sana Odeh</small></td>
					  <td><a href="">***** <br> 145 Reviews</a></td>
					</tr>
					<tr>
					  <td><a href="">Intro to Computer Science</a> by <small>Sana Odeh</small></td>
					  <td><a href="">***** <br> 145 Reviews</a></td>
					</tr>
					
					<tr>
					  <td><a href="">Intro to Computer Science</a> by <small>Sana Odeh</small></td>
					  <td><a href="">***** <br> 145 Reviews</a></td>
					</tr>
					
				  </tbody>		
			</table>
          
       </div>
	   
	    <div class="span2">
          
        </div>
        
      </div>

{% endblock %}