<div class="media">
		<a class="pull-left" href="#">
		<img class="media-object" src="{{ user.avatar(64)}}" style="width:64px; height:64px;padding-right:5px;">
		</a>
		<div class="media-body">
			<h6 class="media-heading">By Anonymous <span class="badge badge-inverse">{{"{0:0.2f}".format(review.rating)}} / 5</span> <span class="pull-right">{{review.review_date}}</span></h6>
			 
							"{{review.review_comment}}" <br/>
			<span class="pull-right"><i class="icon-thumbs-up "></i> (0 like) <br></span>
			
			<hr />
			
		
		</div>
		
</div>